<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userPrefers</key>
		<array>
			<dict>
				<key>icon</key>
				<string>profile_add</string>
				<key>title</key>
				<string>科室订阅</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_wenxian</string>
				<key>title</key>
				<string>我的文献</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_star</string>
				<key>title</key>
				<string>我的收藏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_subscribe</string>
				<key>title</key>
				<string>疾病订阅</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>userPrefers</key>
		<array>
			<dict>
				<key>icon</key>
				<string>profile_box</string>
				<key>title</key>
				<string>丁当兑换</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_liwu</string>
				<key>title</key>
				<string>邀请好友赢奖励</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_lamp</string>
				<key>title</key>
				<string>我的收藏</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>userPrefers</key>
		<array>
			<dict>
				<key>icon</key>
				<string>profile_bag</string>
				<key>title</key>
				<string>应用推荐</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_msg</string>
				<key>title</key>
				<string>意见反馈</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>profile_set</string>
				<key>title</key>
				<string>设置</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
